@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background: black;
    }
}

/* Utilities */
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
