:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* TODO: CHANGE FONT-FAMILY */
    color: white;
    background-color: black;

    /* Smooth font rendering */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {

}